.ball-image {
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80");
}
.parallax {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.parallax-caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
}
.playerPage-section-title {
    font-size: 2em;
    color: midnightblue;
    padding-right: 1em;
}