
.flip-card {
    transition: all 1s ease;
    position: relative;
    transform-style: preserve-3d;


}
.flip-card:hover {
    transform: rotateY(180deg);
}
.card.player-front {
    position: relative;
    top: 0;
    backface-visibility: hidden;

}
.card.player-back {
    top: 0;
    position: absolute;
    transform: rotateY(180deg);
}

.card.player-front {
    z-index: 1;
}
.flip-card .card {
    box-shadow: 3px 3px 20px 2px grey;
}

.player-icon {
    background-image: url("/player.png");
}