.ui.card:first-child{
    margin-top: 1em;
}
.ui.card:last-child{
    margin-bottom: 1em;
}
.ui.card {
    transition: all 300ms;
    overflow: hidden;
}
.ui.card:hover{
    transform: translateY(-10px);
    box-shadow: 3px 7px 10px 3px grey;
}
.ui.card .image{
    transition: all 600ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ui.card .image:hover{
    transform: scale(1.1);
}
.news-box .card {
    cursor: pointer;
}