.news-box {
    /*background-color: lightsteelblue;*/
    width: 80%;
    margin: 0 auto;
    border-radius: 2%;
}
.news-grid-system{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
