i.icon {
    background-size: contain;
    width: 1.2em;
    height: 1.2em;
}
.match-info{
    font-size: 2em;
}
.Arsenal{
    background-image: url("/arsenal.ico");
}
.Chelsea{
    background-image: url("/chelsea.ico");
}
.Liverpool{
    background-image: url("/liverpool.ico");
}
.Manchester{
    background-image: url("/manchester.ico");
}
.RealMadrid {
    background-image: url("/RealMadrid.png");
}
.Roma {
    background-image: url("/Roma.png");
}
.Milan {
    background-image: url("/Milan.png");
}
.Atalanta {
    background-image: url("/Atalanta.png");
}
.AtleticoMadrid {
    background-image: url("/AtleticoMadrid.png");
}

