.ended-matches{
    background-color: lightpink;
}
.live-matches{
    background-color: lightgreen;
}
.coming-matches{
    background-color: lightblue;
}
.favorite-matches{
    background-color: yellow;
}